.chat-container {
  display: flex;
  height: 93vh;
  /* background-color: #007bff; */
  padding-top: 7vh;
}

.chat-sidebar {
  width: 25%;
  /* max-width: 300px; */
  overflow-y: auto; /* Enables scrolling for the chat list */
  border-right: 1px solid #ccc; /* Visually separates the chat list from the chat window */
  background-color: #29537a;
}

.chat-window {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-self: right;
  justify-self: right;
  background-color:whitesmoke;
}

.messages-container {
  flex: 1;
  overflow-y: auto; /* Enables scrolling for messages */
  padding: 10px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(230, 227, 227);
  border-top: 1px solid #ccc; /* Visually separates the input box from the messages */
}

.input-container .ant-input {
  flex-grow: 1;
  /* margin-right: 10px;  */
}

.chat-sidebar-name {
  padding-right: 10px;
  color: #fff;
}

.ant-list .ant-list-item{
  padding: 10px 10px;
}
.ant-list-item:hover{
  background-color:#04294d;
}

.ant-list-item:focus{
  background-color: red;
}

.active-chat {
  background-color:#007bff; /* Choose any color you like */
}

.message-bubble {
  max-width: 60%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 20px;
  color: #fff;
}

.sent {
  background-color: #007bff;
  margin-left: auto; /* Aligns sent messages to the right */
  border-bottom-right-radius: 0; /* Optional: adjusts the bubble shape for sent messages */
}

/* If you add received messages */
.received {
  background-color: #ccc;
  margin-right: auto; /* Aligns received messages to the left */
  border-bottom-left-radius: 0; /* Optional: adjusts the bubble shape for received messages */
}

.messages-container {
  display: flex;
  flex-direction: column;
  /* Keep existing styles */
}

#send-button{
margin-left: 10px;
}

.scroll-to-bottom-button {
  position: fixed;
  right: 40%; 
  bottom: 70px; 
  z-index: 1000; 
}


/* .scroll-to-bottom-button {
  position: fixed;
  right: 25px; 
  bottom: 100px; 
  z-index: 1000; 
}

.chat-container {
  overflow-y: auto;
  height: 500px; 
} */