.profile-container {
    display: flex;
    justify-content: center;
    padding: 50px 0; /* Top and bottom padding for some space */
  }
  
  .ant-card {
    margin-top: 20px; /* Adjust as necessary for top margin */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Add some shadow for depth */
  }
  
  .ant-card .ant-card-actions {
    background: none; /* Remove background of action area */
  }
  
  .ant-card-actions > li {
    margin: 8px 0; /* Give some space around the button */
  }
  
  .ant-btn-primary {
    border-color: #1890ff;
    background-color: #1890ff;
    color: #fff;
    border-radius: 5px; /* Rounded borders for the button */
  }
  
  /* Add specific colors to icons */
  .profile-container .anticon {
    color: #1890ff;
    margin-right: 8px;
  }
  
  /* Style for the edit button */
  .profile-container .ant-btn {
    width: 100%;
  }
  