.signup-container {
    display: flex;
    min-height: 100vh;
  }

  /* .chalmers-logo-container {
    flex: 1;
    background-color: aqua;
} */

  .form-container-sign-up {
    flex: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    background-size: cover;
    background-position:center ;
    background-image: url("C:\Users\julia\student-social-frontend\src\asserts\images\sign-in.jpg");
  }

  .form-section-sign-up {
    width: auto;
    padding: 20px 70px;
    background-color: white;
  }

  .signup-form{
    height: 100%;
    /* background-color: aqua; */
  }

  .signup-form-item{
    /* background-color: brown; */
    margin: 10px;
  }

  button .signup-form-item{
    margin: 20px 0 0 10px;
  }
