.header {
  display: flex;
  align-items: center; /* This ensures vertical centering */
  justify-content: space-between;
  padding: 0 20px; /* Adjust padding as needed */
  background: #001529;
}

.logo {
  display: flex;
  align-items: center; /* This ensures vertical centering of the logo image */
  margin-right: 24px;
}

.logo img {
  padding-top: 20px;
  height: 32px; /* Adjust the height as needed */
  width: auto; /* Adjust the width automatically based on the height to maintain aspect ratio */
}
  
.search {
  max-width: 30%;
}

.menu {
  width: 350px;
  display: flex;
  justify-content: flex-end;
}

.menu .ant-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-modal-footer{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 90px 50px;
  grid-template-areas: 
  "image cancel post";
  flex-direction: row;
}

.ant-btn-primary{
  grid-area: post;
  width: fit-content;
  justify-self: right;
}

.ant-btn-default{
  grid-area: cancel;
  width: fit-content;
}

.ant-upload-wrapper{
  grid-area: image;
  width: fit-content;
}