.header {
  display: flex;
  align-items: center; /* This ensures vertical centering */
  justify-content: space-between;
  padding: 0 20px; /* Adjust padding as needed */
  background: #001529;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 7vh;
}

.logo {
  display: flex;
  align-items: center; /* This ensures vertical centering of the logo images */
  margin-right: 15px;
}

.logo img {
  padding-top: 25px;
  height: 5vh; /* Adjust the height as needed */
  width: auto; /* Adjust the width automatically based on the height to maintain aspect ratio */
}
  
.search {
  max-width: 30%;
}

.menu {
  width: 450px;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  height: 7vh;
}

.menu .ant-menu-item {
  display: flex;
  padding: 0 8px;
  align-items: center;
  justify-content: center;
}

svg{
  height: 2vh;
  width: 2vh;
}

span{
  font-size: 9pt;
}

.ant-modal-footer{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 90px 50px;
  grid-template-areas: 
  "image cancel post";
  flex-direction: row;
}

.ant-btn-primary{
  grid-area: post;
  width: fit-content;
  justify-self: right;
}

.ant-btn-default{
  grid-area: cancel;
  width: fit-content;
}

.ant-upload-wrapper{
  grid-area: image;
  width: fit-content;
}